name: mazerace_app
description: "MazeRace - a simple maze game , in which the mouse has to reach the cheese. There are 2 versions - controlled by buttons or controlled by head movements (a special headphone required)"
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  english_words: ^4.0.0
  provider: ^6.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
